* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #a6e6e6 0%, #3a5e4c 100%);
    background-attachment: fixed;
}

header {
    background-color: #b0cfb9a8;
    backdrop-filter: blur(50px);
    color: rgb(54, 52, 52);
    padding: 20px;
    margin: 30px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

header .logo h1 {
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: rgb(43, 39, 39);
    text-decoration: none;
    font-size: 1.1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

.sheep-info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sheep-card {
    background-color: rgba(236, 245, 244, 0.644);
    backdrop-filter: blur(50px);
    border: 1px solid transparent;
    border-radius: 20px;
    width: 250px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sheep-card:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.sheep-card h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.sheep-card p {
    font-size: 1rem;
    color: #555;
    transition: display 0.3s ease;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.sheep-card p {
    display: none;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.sheep-info::after,
.sheep-info::before {
    content: '';
    position:absolute;
    height: 15%;
    width: 95%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 10%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    animation: 3s spin linear infinite;
    box-shadow:0 6px 12px rgba(0, 0, 0, 0.1);
}

.sheep-info:before {
    filter: blur(1,5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}